@charset "utf-8"
html
	font-size 12px
	font-family '微软雅黑','Arial','sns-serif'
ul,ol,li,dl,dt,dd
	list-style-type none
a
	text-decoration none
body,div,h1,h2,h3,h4,h5,h6,p,ul,ol,li,dl,dt,dd,form,input,img,table
		margin 0
		padding 0
body
	padding 50px 0
	color #555
	-webkit-font-smoothing antialiased


.slider,.main,.main-i
	width 100%
	height 400px
	position relative
.slider
	.main
		overflow hidden
		.main-i
			opacity 0
			position absolute
			right 50%
			top 0
			img
				width 100%
				position absolute
				top 0
				left 0
			.caption
				position absolute
				z-index 10
				top 30%
				right 60%
				h2
					font-size 40px
					line-height 50px
					color #b5b5b5
					text-align right
					margin-right 45px
				h3
					font-size 70px
					line-height 70px
					color #000
					text-align right
					font-family 'Open Sans Condensed'
					margin-right -45px
		.main-i_active
			opacity 1
			right 0
			transition all .6s
			.caption
				h2,h3
					margin-right 0
					transition all .9s .6s
	.ctrl
		width 100%
		height 13px
		line-height 13px
		text-align center
		position absolute
		left 0
		bottom -13px
		.ctrl-i
			display inline-block
			width 150px
			height 13px
			background-color #666
			box-shadow 0 1px 1px rgba(0,0,0,0.3)
			position relative
			margin-left 1px
			img
				width 100%
				position absolute
				bottom 50px
				left 0
				opacity 0
		.ctrl-i:hover
			background-color #f0f0f0
			img
				bottom 13px
				-webkit-box-reflect below 0px -webkit-gradient(linear,left top,left bottom,from(transparent),color-stop(50%,transparent),to(rgba(255,255,255,.3)))
				opacity 1
				transition all .6s
		.ctrl-i_active,.ctrl-i_active:hover
			background-color #000
		.ctrl-i_active:hover
			img
				opacity 0


			



