
/* line 45 : F:\web_file\src\stylus\h5game.styl */

/* line 1 : F:\web_file\node_modules\gulp-stylus\node_modules\stylus\lib\functions\index.styl */

/* line 5 : F:\web_file\src\stylus\h5game.styl */
body {
  background-color: #f06060;
  color: #fff;
  font: 12px/1.5 "微软雅黑";
}

/* line 9 : F:\web_file\src\stylus\h5game.styl */

/* line 10 : F:\web_file\src\stylus\h5game.styl */
body .game-wrap .hide {
  display: none;
}

/* line 17 : F:\web_file\src\stylus\h5game.styl */
body .game-wrap #loading {
  text-align: center;
  font-size: 30px;
}

/* line 20 : F:\web_file\src\stylus\h5game.styl */
body .game-wrap #loading .loading-txt {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 60px;
  height: 100px;
  width: 100%;
  margin: auto;
}

/* line 29 : F:\web_file\src\stylus\h5game.styl */

/* line 30 : F:\web_file\src\stylus\h5game.styl */
body .game-wrap #index h1 {
  padding: 30px 0;
  font-size: 30px;
  text-align: center;
  text-shadow: 1px 1px 1px #ab3c3c 3;
}

/* line 35 : F:\web_file\src\stylus\h5game.styl */
body .game-wrap #index .intro {
  font-size: 18px;
  text-align: center;
  opacity: 0.6;
}

/* line 39 : F:\web_file\src\stylus\h5game.styl */
body .game-wrap #index .btns {
  position: absolute;
  bottom: 10px;
  height: 210px;
  text-align: center;
  width: 100%;
  color: #fff;
}
